openapi: 3.0.3
info:
  title: Dokumen API Cloud Function - OpenAPI 3.0
  description: >-
    Dokumentasi API untuk Aplikasi HR Monitor dari Cloud function 
  termsOfService: https://github.com/angkringankuy/swagger
  contact:
    email: masyahida4@gmail.com
  license:
    name: Backendyak Package
    url: https://pkg.go.dev/github.com/angkringankuy/backendyak
  version: 1.0.11
externalDocs:
  description: Website
  url: https://angkringankuy.github.io
servers:
  - url: https://asia-southeast2-rock-prism-401900.cloudfunctions.net/
tags:
  - name: Auth
    description: Auth to Access to API
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://angkringankuy.github.io/backendyak
paths:
/Login:
    post:
      tags:
        - Auth
      summary: Login get Token
      description: Login and Get User Token
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '405':
          description: Invalid input
components:
    Auth:
      type: object
      properties:
        username:
          type: string
          example: ahay
        password:
          type: string
          example: ahaypasworthash
    AuthResponse:
      type: object
      properties:
        status:
          type: bool
          example: false
        message:
          type: string
          example: Selamat Datang
        token:
          type: string
          example: uhuy